/*Стандартные настройки страницы 
=======================================*/

html {overflow-x: hidden;}
body {position: relative; margin: 0; padding: 0; overflow-x: hidden; max-width: 100vw; background-color: #FBFBFB; font-family: var(--mont), sans-serif;}
* {box-sizing: border-box;}
a {text-decoration: none;}
p {margin: 0; user-select: none;}
input::placeholder {color: rgba(207, 207, 207, 0.8); font-size: 16px; font-family: var(--mont), sans-serif;}
h1,h2,h3,h4,h5,h6 {font-weight: inherit; font-size: inherit; user-select: none; margin: 0; padding: 0;}
ul[class],ol[class] {list-style: none; margin: 0; padding: 0;}
img {pointer-events: none}
button {background: none; border: none; padding: 0;}
.overflow-lock {overflow-y: hidden;}
.main {position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;}

//Миксины   ------------------------------------------------------------------------------------------------------------------------------------

@import "mixins/mixins";

//UI  -------------------------------------------------------------------------------------------------------------------------------

@import "UI/Wrapper";
@import "UI/ArrowDown";
@import "UI/Menu";

//Шапка сайта   --------------------------------------------------------------------------------------------------------------------------------

@import "Header";

//БЛОК-1   -------------------------------------------------------------------------------------------------------------------------------------

@import "Section-1";

//БЛОК-2   -------------------------------------------------------------------------------------------------------------------------------------

@import "Section-2";

//БЛОК-3   -------------------------------------------------------------------------------------------------------------------------------------

@import "Section-3";

//БЛОК-4   -------------------------------------------------------------------------------------------------------------------------------------

@import "Section-4";

//БЛОК-5   -------------------------------------------------------------------------------------------------------------------------------------

@import "Section-5";

//БЛОК-6   -------------------------------------------------------------------------------------------------------------------------------------

@import "Section-6";

//БЛОК-7   -------------------------------------------------------------------------------------------------------------------------------------

@import "Section-7";

//ПОДВАЛ САЙТА   -------------------------------------------------------------------------------------------------------------------------------------

@import "Footer";